<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${blog.blogName}"></h1>
    <a th:href="@{/posts/{blogId}(blogId=${blogId})}">글쓰기</a>
    <div>
        <ul th:each="post : ${blog.getPosts()}">
            <li>
                <a th:href="@{/posts/{blogId}(blogId=${blog.id})/{postId}(postId=${post.id})}">
                    <h3 th:text="${post.title}"></h3>
                </a>
                <a th:href="@{/posts/{blogId}/delete/{postId}(blogId=${blog.id}, postId=${post.id})}">
                    삭제하기
                </a>
                <a th:href="@{/posts/{blogId}/update/{postId}(blogId=${blog.id}, postId=${post.id})}">
                    글 수정
                </a>
            </li>
        </ul>
    </div>
</body>
</html>