<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user blog list</title>
</head>
<body>
<h1>user blog list!</h1>
<table>
    <thead>
    <tr>
        <td>blog name</td>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a th:href="@{|/blog/${blog.id}|}"><h3 th:text="${blog.blogName}"></h3></a>
            <a th:href="@{|/blog/delete/${blog.id}|}">delete blog</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>