<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <form method="post" th:action="@{/posts/{blogId}/update/{postId}(blogId = ${post.getBlog().getId()}, postId = ${post.id})}">
    <label for="title">title</label>
    <input type="text" id="title" name="title" th:placeholder="${post.getTitle()}">
    <label for="text">text</label>
    <textarea id="text" name="text" th:placeholder="${post.getText()}"></textarea>

    <button type="submit">update!</button>
  </form>
</div>
</body>
</html>